@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroyextrabold.woff"),
    url("fonts/gilroylight") format("woff");
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  /* всем сылкам черный цвет.
  так как белые только в подвале.
  там  и переопределим цвет*/
  color: #000000;
}

.button {
  text-transform: uppercase;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
}

header {
  margin-top: 21px;

}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  width: 1160px;
  background-color: #f0c52e;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
}


.header-search {
  width: 108px;
}


.header-search-button {
  display: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.header-top .container {
  display: flex;
  padding-left: 60px;
  padding-right: 61px;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  /* продумать с шириной. */
  width: 540px;
  margin-top: auto;
  /*или 0 ?*/
  margin-left: auto;
  justify-content: space-between;
  /*почему не работает?7 */
}

.header-servis {
  display: flex;
  width: 100%;
  padding-right: 61px;

}

.header-servis-list {
  display: flex;
  width: 540px;
  justify-content: space-between;
}

.header-catalog {

  margin-right: auto;
}

.header-catalog-list {
  padding-left: 60px;
}

.header-search-text {
  background-color: #f0c52e;
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.3);
}

.header-search input:hover {
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:focus {
  color: #000000;
  opacity: 1;
}

.header-top {
  width: 100%;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  text-align: left;
  color: #000000;
}

.header-catalog-sub {
  display: none;
}

.header-navigation,
.header-catalog-list,
.header-catalog-sub,
.header-servis-list {
  list-style: none;
}

.header-navigation a:hover,
.header-catalog-list a:hover,
.header-catalog-sub a:hover,
.header-servis-list a:hover,
.footer-center-service a:hover {
  opacity: 0.6;
}

.header-navigation a:focus,
.header-catalog-list a:focus,
.header-catalog-sub a:focus,
.header-servis-list a:focus,
.footer-center-service a:focus {
  opacity: 0.3;
}

/* на белом фоне не видно. сделать после фона
.slides-number {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 79px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
}
*/
.main-sliders-controls {
  display: flex;
  list-style: none;
  width: 122px;
  justify-content: space-around;
  /* после лекции настроить */
}

.main-sliders {
  display: flex;
  list-style: none;
}


/* времеено
.main-sliders li .slider-1png{
  transform:rotate(90deg);
}*/
.slides-two,
.slides-three {
  display: none;
}

.slides-feature {
  font-family: Gilroy;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.19;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.feature-item {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
}

.feature-tr {
  font-family: Gilroy;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.36px;
  text-align: left;
  color: #000000;
}

.feature-tr-bottom {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 0.13px;
  text-align: left;
  color: #464646;
}

/* как делать выход цвета за текст?*/
.slides-detail {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  background-color: #f0c52e;
  text-transform: uppercase;
}

.popular-list {
  display: flex;

}

.popular-back {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.popular p {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

/* как сделать чтобы буквы выглядывали?*/
.service {
  width: auto;
  display: flex;
  background-color: #e5e5e5;
  background-position: bottom;
  background-size: 90%;
}

.controls-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-list,
.controls-list {
  list-style: none;
}

.controls-item {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
}

.servise-item h2 {
  font-family: Gilroy;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.servise-item p {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
}

.logotips .container {
  display: flex;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 93px 140px 96px 139px;
}

.map {
  width: 462px;

}

.about {
  width: 560px;
}

.map h2,
.about h2 {
  font-family: Gilroy;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.map p,
.about p {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  color: #464646;
}

.contacts-about {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.main-footer {
  width: 100%;
  padding-top: 65px;
  padding-left: 139px;
  padding-right: 140px;
  padding-bottom: 66px;
  background-color: #464646;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-navi {
  display: flex;
  justify-content: space-between;
  width: 340px;

}

.footer-top-logotip {
  margin-right: auto;
}

.footer-service {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin: auto;
}

.footer-social {
  display: flex;
  width: 142px;
  justify-content: space-between;
  margin: auto;
}

.footer-top {
  display: flex;
  align-self: flex-end;
  width: 100%;
  margin: 0;
}

.footer-center {
  display: flex;
  align-self: flex-end;
  width: 1160px;
  margin: 0;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  width: 1160px;
  margin: 0;
}

.footer-htmlacademy {
  display: flex;

}

.footer-navi a {
  opacity: 0.7;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.footer-center address,
.footer-telephone a {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  color: white;
}

.footer-service,
.footer-social,
.footer-navi {
  list-style: none;
}

.footer-service a {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: white;
}

.logo-htmlacademy {
  color: #ffc600;
}

.contacts-open,
.contacts-write {
  display: none;
}

main h1 {
  font-family: Gilroy;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.filters {
  background-color: #ebebeb;
}

.arrow-down {
  display: inline-block;
  border: 10px solid white;
  border-bottom-color: #000000;
  border-top-width: 0px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-top {
  display: inline-block;
  border: 10px solid #ffffff;
  border-top-color: black;
  border-bottom-width: 0px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.filters h2 {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 12px;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

.filter ul {
  list-style: none;
  line-height: 14px;
  padding-left: 0;
}

.monopod-list {
  list-style: none;
}

.monopod:hover {
  opacity: 0.7;

}

.monopod:hover .show,
.monopod:hover .point {
  display: block;
}

.show {
  display: none;
}

.point {
  display: none;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.77;
  letter-spacing: 0.13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.monopod-type {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

.monopod-price {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.16px;
  text-align: right;
  color: #464646;
}

.pagination-list,
.pagination-items {
  list-style: none;
}

.pagination-list a {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
}

.pagination-item a {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-current a {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
}



/*
/*
header {
  display: inline-block;
  opacity: 0.5;
  margin: 40px 140px;
  width: 100%;
  height: 186px;
  padding: 0;
}

.header__logo {
  padding-left: 59px;

}

.header--device {
  width: 163px;
  height: 35px;
  object-fit: contain;
}

.header__top {
  display: flex;
  align-items: baseline;
  padding-left: 63px;
  min-height: 16px;
}


.header__search {
  padding-right: 393px;
}

.header-search-image {
  border: none;
  width: 16px;
  height: 16px;
  background: url("../img/search.png") center no-repeat;
  padding-left: 16px;
}

.header-search-text {
  border: none;
  width: 118px;
  height: 15px;
  background-color: #f0c52e;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.15px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}
.header__navigation {

  padding:0;
}
.header__navigation li {
  display: inline-block;
}

.header__navigation a {
  text-decoration: none;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: left;
  color: #000000;

}
.header-login {
  padding-right: 218px;

}

.header-login-image {
  display: inline-block;
  width: 13px;
  height: 12px;
  background: url("../img/user.png") center no-repeat;
}

.header-contrast {
  padding-right: 41px;
  background: url("../img/compare.svg") no-repeat left center;

}

.header-contrast a,
.header-basket a {
  margin-left: 13px;
}

.header-basket {
  background: url("../img/cart.svg") no-repeat left center;
}


.header__catalog {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.header--catalog {
  font-family: Gilroy, "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  padding-top: 50px;
  color: #000000;
  list-style: none;
  padding-left: 60px;
}

.header--catalog>li {
  position: relative;
}

.header--catalog-sub {
  position: absolute;
  display: none;
  z-index: 4;
}

.header--catalog>li:hover .header--catalog-sub {
  display: block;
}

.header-servis {
  display: inline-flex;
  padding-left: 294px;
  padding-right: 61px;

}

.header-servis a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #000000;
}
.header-servis-dostavka {
  padding-right: 38px;
}

.header-servis-garant {
  padding-right: 114px;
}

main {
  margin-left: 140px;
  margin-right: 140px;
}

.popular-back {
  margin: 0;
  padding: 0;
}

.popular-back li {
  display: inline-block;
  padding-right: 40px;
}

.popular-back .popular {
  text-align: center;
}

.popular-img {
  width: 160px;
  height: 160px;
  background-color: #f0c52e;
  opacity: 0.5;
}

/*не могу понять откуда береться такой отступ от вр ?*/
/*
.popular-vr {
  margin: 32% 20%;
}

.popular .text {
  /* как сделать текст как на макете ??*/
}

/*s
.service {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;

}

.delivery {
  display: block;
  padding-right: 100px;
  float: right;
}

.service-delivery {
  width: 100%;
  height: 288px;
}

.delivery-text {
  width: 30%;
  height: 26%;
}

.logotips {
  padding-right: 143px;
  padding-left: 140px;
}

.container-logotips {
  display: flex;
}

footer {
  width: 100%;
  height: 323px;
  background-color: #464646;
  padding-right: 140px;
  padding-left: 140px;
}

.footer-navi li {
  display: inline-block;
}

.footer-login a,
.footer-contrast a,
.footer-basket a {
  opacity: 0.7;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.7);
}
.footer-center{
 display: flex;
 text-align: center;
}
.footer-center address {
  width: 201px;
  height: 15px;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
float: left;
}
.footer-center-service{
  width: 50%;
}
.footer-center p {
  float: right;
}
.footer-center-service li {
  display: inline-block;
}

.footer-contact a,
.footer-garant a,
.footer-delivery a {
  height: 12px;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  padding-right: 38px;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;
}
.footer-telephone a {
  width: 164px;
  height: 13px;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  color: #ffffff;
}


.footer-social li {
  display: inline-block;
}
 .footer-social-fb{
   width: 32px;
   height: 32px;
   background:url("../img/fb.png") no-repeat left center;
 }
*/
